---
import Experience from '../../components/molecules/Experience/experience.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Wesley - About">
	<main class="mx-auto min-h-[600px] max-w-[1220px] px-[20px] mb-[200px] flex flex-col gap-[45px]">
		<section class="flex max-w-[710px] flex-col gap-[38px]">
			<h1 class="title mt-[128px] text-left">About Me</h1>
			<p class="text-[17px] text-[--secondary] md:text-[18px]">
				The Generator App is an online tool that helps you to export ready-made templates
				ready to work as your future website. It helps you to combine slides, panels and
				other components and export it as a set of static files: HTML/CSS/JS.
			</p>
		</section>

		<section class="flex max-w-[710px] flex-col gap-[38px]">
			<h1 class="title text-left">Work Experience</h1>

			<div class="flex flex-col gap-[32px]">
				<Experience
					title="Mid Level Web Developer"
					company="Opss Bank"
					location="Remote"
					date="Sep 2021 - Dec 2021"
				/>
				<Experience
					title="Mid Level Web Developer"
					company="Async House"
					location="Remote"
					date="Sep 2021 - Dec 2021"
				/>
				<Experience
					title="Mid Level Web Developer"
					company="Async House"
					location="Remote"
					date="Sep 2021 - Dec 2021"
				/>
			</div>
		</section>

		<section class="flex max-w-[710px] flex-col gap-[38px]">
			<h1 class="title text-left">Education</h1>

			<div class="flex flex-col gap-[32px]">
				<Experience
					title="Mid Level Web Developer"
					company="Async House"
					location="Remote"
					date="Sep 2021 - Dec 2021"
				/>
			</div>
		</section>
	</main>
</Layout>
