---

---

<header class="flex items-center justify-between mt-[50px] max-w-[1215px] mx-auto px-[15px]">
	<img src="/assets/icons/logo.svg" alt="Logo" width="40px" height="30px" class="mr-[15px]" />

	<nav>
		<ul class="flex gap-[67px] text-[--secondary] text-[18px]">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/tech-stack">Tech Stack</a></li>
			<li><a href="#projects">Projects</a></li>
		</ul>
	</nav>

	<div class="flex gap-[20px]">
		<a class="" href="https://github.com/Wesley-wsl" target="_blank">
			<img src="/assets/icons/github-icon.svg" alt="Github icon" />
		</a>
		<a href="https://www.linkedin.com/in/wesley-westellley" target="_blank">
			<img src="/assets/icons/linkedin-icon.svg" alt="Github icon" />
		</a>
	</div>
</header>
