---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	src: string;
	alt: string;
}

const { title, src, alt } = Astro.props;
---

<div
	class="flex h-[87px] w-[207px] items-center justify-center gap-[32px] rounded-[9px] bg-[--card-background]"
>
	<span class="bg-[--card-tech-bg] rounded-[9px]">
		<Image src={src} alt={alt} width="60" height="62" loading="lazy" />
	</span>
	<p class="text-[16px] font-semibold text-[--primary] w-[83px]">{title}</p>
</div>
