---
import Projects from '../../components/organisms/Projects/projects.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Projects - Wesley Westelley">
	<main
		class="mx-auto mb-[200px] flex min-h-[600px] max-w-[1220px] flex-col gap-[45px] px-[20px]"
	>
		<div class="mt-[64px]" data-aos="fade-up">
			<Projects titleLeft />
		</div>
	</main>
</Layout>
