---
import TechStackHorizontal from '../../components/organisms/TechStack/TechStackHorizontal/techStackHorizontal.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Wesley - Tech Stack">
	<main
		class="mx-auto mb-[200px] flex min-h-[600px] max-w-[1220px] flex-col gap-[45px] px-[20px]"
	>
		<TechStackHorizontal />
	</main>
</Layout>
