@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2b2b2b;
    --secondary: #666666;
    --background: #ffffff;
    --card-title: #000;
    --success: #d7ffe0;
    --card-background: #F6F8FA;
    --green: #D7FFE0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Variable', sans-serif;
}

a {
    text-decoration: none;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    background-color: var(---background);
}

@layer components {
	.title {
		@apply text-center text-[40px] md:text-[48px] font-black text-[--primary];
	}

	.subtitle {
		@apply max-w-[719px] text-center text-[22px] md:text-[30px] font-normal text-[--secondary];
	}
}

.tech-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
