---
import '@fontsource-variable/inter';
import Header from '../components/organisms/Header/header.astro';
import '../core/styles/common.css';
import Footer from '../components/organisms/Footer/footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Wesley Westelley is a Software Developer with over 3 years of experience in creating dynamic and efficient web interfaces." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/assets/icons/logo.svg" />
        <meta property="og:title" content="Wesley Westelley" />
        <meta property="og:description" content="Wesley Westelley is a Software Developer with over 3 years of experience in creating dynamic and efficient web interfaces." />
        <meta property="og:image" content="/assets/icons/logo.svg" />
        <meta property="og:type" content="website" />
        <meta property="twitter:title" content="Wesley Westelley" />
        <meta property="twitter:description" content="Wesley Westelley is a Software Developer with over 3 years of experience in creating dynamic and efficient web interfaces." />
        <meta property="twitter:image" content="/assets/icons/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-[--primary]">
		<Header />

		<slot />

		<Footer />

		<script src="../core/styles/aos.ts"></script>
	</body>
</html>
